.game{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.gameContent{
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (max-width: 430px) {
  .gameContent {
    flex-direction: column;
  }
} 

